@using SharedLib.Extensions
@using MatBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using BlazorContextMenu

@inject IMatToaster Toaster
@inject IMatDialogService MatDialogService
@inject UserManager<IdentityUser> _userManager
@inject RoleManager<IdentityRole> _roleManager

<AuthorizeView Roles="Admin, Moderator">
    <Authorized>
        <h1 class="horizontal-center title">Current Users</h1>
        <h5 class="horizontal-center noteworthy">Right click a user to edit</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Email Confirmed</th>
                    <th>MFA Enabled</th>
                    <th>Lockout</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in _userManager.Users.ToList())
                {
                    if (user.UserName != "superperson")
                    {
                        <ContextMenuTrigger WrapperTag="tr" MenuId="userMenu" Data="user">
                            <td>@user.Email</td>
                            <td>@user.EmailConfirmed</td>
                            <td>@user.TwoFactorEnabled</td>
                            <td>@user.AccessFailedCount</td>
                            <td>@_userManager.GetRolesAsync(user).Result.GetSingleLineFromList()</td>
                        </ContextMenuTrigger>
                    }
                }
            </tbody>
        </table>
        <div class="bottom-border" />
        <ContextMenu Id="userMenu" Context="menuContext">
            <Item OnClick="@OpenRoleMenu">Edit Roles</Item>
            <Item OnClick="((e) => UnlockAccount(e, context))">Unlock Account</Item>
            @if (UserIsAdmin(context).Result)
            {
                <Item OnClick="((e) => ForceConfirmEmail(e, context))">Force Confirm Email</Item>
                <Item OnClick="((e) => ResetPassword(e, context))">Reset Password</Item>
                <Item OnClick="((e) => DeleteUser(e, context))">Delete User</Item>
            }
        </ContextMenu>
        <MatDialog @bind-IsOpen="@roleMenuOpen">
            <h3 class="horizontal-center" style="padding-top: 0.4em; padding-bottom: 0.2em;">Edit Roles for @editingUser.Email</h3>
            <table class="table" width="95%">
                <thead>
                    <tr>
                        <th class="horizontal-center">Roles Assigned</th>
                        <th class="horizontal-center">Roles Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="48%">
                            <table class="table">
                                @foreach (var role in rolesWeHave)
                                {
                                    @if ((UserIsModerator(context).Result && (role != "WatcherEvents" && role != "WatcherList")))
                                    {
                                        <tr><td><button disabled class="btn btn-secondary" @onclick="(() => RemoveRole(role, context))">X</button> @role</td></tr>
                                    }
                                    else
                                    {
                                        <tr><td><button class="btn btn-secondary" @onclick="(() => RemoveRole(role, context))">X</button> @role</td></tr>
                                    }
                                }
                            </table>
                        </td>
                        <td width="48%">
                            <table class="table">
                                @foreach (var role in rolesWeWant)
                                {
                                    @if ((UserIsModerator(context).Result && (role.Name != "WatcherEvents" && role.Name != "WatcherList")))
                                    {
                                        <tr><td><button disabled class="btn btn-secondary" @onclick="(() => AddRole(role.Name, context))">+</button> @role.Name</td></tr>
                                    }
                                    else
                                    {
                                        <tr><td><button class="btn btn-secondary" @onclick="(() => AddRole(role.Name, context))">+</button> @role.Name</td></tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" style="width: 100%;">
                <div class="col horizontal-center">
                    <button class="btn btn-warning" @onclick="CloseRoleMenu">Cancel</button>
                    <button type="submit" class="btn btn-primary" @onclick="(() => SaveUserRoles(context))">Save Roles</button>
                </div>
            </div>
            <br />
        </MatDialog>
    </Authorized>
</AuthorizeView>

@code {
    private bool roleMenuOpen = false;
    private IdentityUser editingUser = new IdentityUser("empty");
    private List<string> rolesWeHave = new List<string>();
    private List<IdentityRole> rolesWeWant = new List<IdentityRole>();

    private async Task OpenRoleMenu(ItemClickEventArgs e)
    {
        editingUser = e.Data as IdentityUser;
        rolesWeHave = _userManager.GetRolesAsync(editingUser).Result.ToList();
        rolesWeWant = _roleManager.Roles.ToList();
        rolesWeWant.RemoveAll(x => rolesWeHave.Contains(x.Name));
        roleMenuOpen = true;
        await Task.CompletedTask;
    }

    private async Task CloseRoleMenu()
    {
        roleMenuOpen = false;
        editingUser = new IdentityUser("empty");
        rolesWeHave = new List<string>();
        rolesWeWant = new List<IdentityRole>();
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task RemoveRole(string roleName, AuthenticationState context)
    {
        if (editingUser.UserName == "superperson@wobigtools.com" && roleName == "Admin")
        {
            Toaster.CustomToast("Impossible", "Can't delete Admin from the Local Admin", MatToastType.Danger);
            StateHasChanged();
        }
        else if ((UserIsModerator(context).Result && (roleName != "WatcherEvents" && roleName != "WatcherList")))
        {
            Toaster.CustomToast("No Access", "You don't have access to that role", MatToastType.Warning);
            StateHasChanged();
        }
        else
        {
            rolesWeHave.Remove(roleName);
            Log.Information("Role {RoleName} removed from {EmailAddress} | ActionUser: {ActionUser}", roleName, editingUser.UserName, context.User.Identity.Name);
            rolesWeWant.Add(_roleManager.FindByNameAsync(roleName).Result);
            StateHasChanged();
        }
        await Task.CompletedTask;
    }

    private async Task AddRole(string roleName, AuthenticationState context)
    {
        if ((UserIsModerator(context).Result && (roleName != "WatcherEvents" && roleName != "WatcherList")))
        {
            Toaster.CustomToast("No Access", "You don't have access to that role", MatToastType.Warning);
            StateHasChanged();
        }
        else
        {
            rolesWeHave.Add(roleName);
            Log.Information("Role {RoleName} added to {EmailAddress} | ActionUser: {ActionUser}", roleName, editingUser.UserName, context.User.Identity.Name);
            rolesWeWant.Remove(_roleManager.FindByNameAsync(roleName).Result);
            StateHasChanged();
        }
        await Task.CompletedTask;
    }

    private async Task SaveUserRoles(AuthenticationState authState)
    {
        Log.Debug("Starting user role save for {EmailAddress} | ActionBy: {ActionUser}", editingUser.Email, authState.User.Identity.Name);
        foreach (var role in rolesWeHave)
        {
            if (!await _userManager.IsInRoleAsync(editingUser, role))
            {
                Log.Debug("User isn't in the {RoleName} role, attempting to add | ActionBy: {ActionUser}", role, authState.User.Identity.Name);
                await _userManager.AddToRoleAsync(editingUser, role);
                Log.Information("Added the {RoleName} role to {EmailAddress} | ActionBy: {ActionUser}", editingUser.Email, authState.User.Identity.Name);
            }
            else
            {
                Log.Debug("User {EmailAddress} already is in the {RoleName} role | ActionBy: {ActionUser}", editingUser.Email, role, authState.User.Identity.Name);
            }
        }

        foreach (var role in rolesWeWant)
        {
            if (await _userManager.IsInRoleAsync(editingUser, role.Name))
            {
                Log.Debug("User is in the {RoleName} role, attempting to remove | ActionBy: {ActionUser}", role.Name, authState.User.Identity.Name);
                await _userManager.RemoveFromRoleAsync(editingUser, role.Name);
                Log.Information("Removed {EmailAddress} from the {RoleName} role | ActionBy: {ActionUser}", editingUser.Email, role.Name, authState.User.Identity.Name);
            }
            else
            {
                Log.Debug("User {EmailAddress} already isn't in the {RoleName} role | ActionBy: {ActionUser}", editingUser.Email, role, authState.User.Identity.Name);
            }
        }
        Toaster.CustomToast(editingUser.Email, "Updated roles successfully!", MatToastType.Success);

        roleMenuOpen = false;
        editingUser = new IdentityUser("empty");
        rolesWeHave = new List<string>();
        rolesWeWant = new List<IdentityRole>();
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task DeleteUser(ItemClickEventArgs e, AuthenticationState authState)
    {
        editingUser = e.Data as IdentityUser;
        var user = await _userManager.FindByNameAsync(editingUser.UserName);
        var deleteUser = await MatDialogService.ConfirmAsync($"Delete user {user.Email}?");
        if (deleteUser)
        {
            Log.Information("Deleting user: {EmailAddress} | ActionBy: {ActionUser}", user.Email, authState.User.Identity.Name);
            await _userManager.DeleteAsync(user);
            Log.Information("User deleted successfully | ActionBy: {ActionUser}", authState.User.Identity.Name);
            Toaster.CustomToast("Success", "User was deleted successfully!", MatToastType.Success);
        }
        editingUser = new IdentityUser("empty");
    }

    private async Task UnlockAccount(ItemClickEventArgs e, AuthenticationState authState)
    {
        editingUser = e.Data as IdentityUser;
        var user = await _userManager.FindByNameAsync(editingUser.UserName);
        Log.Information("Unlocking user: {EmailAddress} | ActionBy: {ActionUser}", user.Email, authState.User.Identity.Name);
        await _userManager.ResetAccessFailedCountAsync(user);
        Log.Information("Account unlocked: {EmailAddress} | ActionBy: {ActionUser}", user.Email, authState.User.Identity.Name);
        Toaster.CustomToast(user.Email, "Account unlocked successfully!", MatToastType.Success);
        editingUser = new IdentityUser("empty");
    }

    private async Task ResetPassword(ItemClickEventArgs e, AuthenticationState authState)
    {
        editingUser = e.Data as IdentityUser;
        var user = await _userManager.FindByNameAsync(editingUser.UserName);
        if (SMTPIsConfigured())
        {
            Log.Debug("Resetting password for user: {EmailAddress} | ActionBy: {ActionUser}", user.UserName, authState.User.Identity.Name);
            var newPassword = Generator.CreateRandomPassword(26);
            var passToken = await _userManager.GeneratePasswordResetTokenAsync(user);
            await _userManager.ResetPasswordAsync(user, passToken, newPassword);
            await CoreLogicLib.Comm.Communication.SendEmailAsync("Password Reset", $"Your email has been reset to: {newPassword}{Environment.NewLine}Please login to your account using this password", new string[] { user.UserName });
            Log.Information("Password reset for user: {EmailAddress} | ActionBy: {ActionUser}", user.UserName, authState.User.Identity.Name);
            Toaster.CustomToast(user.Email, "Password reset email sent successfully!", MatToastType.Success);
        }
        else
        {
            Toaster.CustomToast("SMTP Failure", "SMTP Isn't configured, can't send email", MatToastType.Danger);
        }
        editingUser = new IdentityUser("empty");
    }

    private async Task ForceConfirmEmail(ItemClickEventArgs e, AuthenticationState authState)
    {
        editingUser = e.Data as IdentityUser;
        var user = await _userManager.FindByNameAsync(editingUser.UserName);
        if (await _userManager.IsEmailConfirmedAsync(user))
        {
            Toaster.CustomToast(user.Email, "Email already confirmed", MatToastType.Warning);
        }
        else
        {
            Log.Debug("Forcing email confirmation for user: {EmailAddress} | ActionBy: {ActionUser}", user.UserName, authState.User.Identity.Name);
            var confirmToken = await _userManager.GenerateEmailConfirmationTokenAsync(user);
            await _userManager.ConfirmEmailAsync(user, confirmToken);
            Log.Information("Email confirmation forced for user: {EmailAddress} | ActionBy: {ActionUser}", user.UserName, authState.User.Identity.Name);
            Toaster.CustomToast(user.Email, "Email confirmed successfully!", MatToastType.Success);
        }
        editingUser = new IdentityUser("empty");
    }

    private bool SMTPIsConfigured()
    {
        if (string.IsNullOrWhiteSpace(Constants.Config.SMTPEmailFrom) ||
            string.IsNullOrWhiteSpace(Constants.Config.SMTPEmailName) ||
            string.IsNullOrWhiteSpace(Constants.Config.SMTPPassword) ||
            string.IsNullOrWhiteSpace(Constants.Config.SMTPUrl) ||
            string.IsNullOrWhiteSpace(Constants.Config.SMTPUsername))
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    private async Task<bool> UserIsModerator(AuthenticationState context)
    {
        var user = await _userManager.FindByNameAsync(context.User.Identity.Name);
        return await _userManager.IsInRoleAsync(user, "Moderator");
    }

    private async Task<bool> UserIsAdmin(AuthenticationState context)
    {
        var user = await _userManager.FindByNameAsync(context.User.Identity.Name);
        return await _userManager.IsInRoleAsync(user, "Admin");
    }
}
